<a href="https://colab.research.google.com/github/as1266/Python/blob/master/Assignment10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pymysql

db = pymysql.connect("localhost", "root", "Computer34_", "world")
cursor = db.cursor()
cursor2 = db.cursor()


def allinfo():
    cursor.execute("SELECT Name FROM world.country;")
    data = cursor.fetchall()
    print("Country Name")
    print("-----------------------")
    for i in data:
        print(str(i[0]))
    print("-----------------------")
    cursor.close()


allinfo()


def oneInfo(name):
    sql = "SELECT Name From world.country WHERE Name =%s"
    cursor2.execute(sql, name)
    data = cursor2.fetchone()
    print("Country Name")
    print("-----------------------------")
    for i in data:
        print(str(i))
    print("-----------------------")
    cursor2.close()


name = str(input("Please enter the name of the country you would like to retrieve!"))
oneInfo(name)

db.close()