<a href="https://colab.research.google.com/github/as1266/Python/blob/master/Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pymysql
import xlrd
import pprint
import matplotlib.pyplot as plt
from matplotlib.pyplot import *
import pandas as pd
from datetime import datetime

def bar_plot():
    db = pymysql.connect("localhost","root","Computer34_","world")
    cursor = db.cursor()

    sql = "Select Continent,LifeExpectancy FROM country"
    cursor.execute(sql)
    data = cursor.fetchall()
    Continent = []
    LifeExepect = []
    for i in data:
        Continent.append(i[0])
        LifeExepect.append(i[1])

    plt.bar(Continent,LifeExepect)
    plt.gca().set_xlabel('Values')
    plt.gca().set_ylabel('Frequency')
    plt.gca().set_title('Histogram: Life Expectancy by Continent')


    db.close()

    return (plt.show())
  
  bar_plot()

In [0]:
def foodname():
    figure()
    foodname= "full chicken"
    file = "assign11-1-catering_sale_all.xls"

    wb= xlrd.open_workbook(filename=file)
    ws=wb.sheet_by_name("Sheet1")
    data = pd.read_excel(file)

    date = []
    for i in range(ws.nrows):
        dates= ws.cell_value(i,0)
        if dates != "sale date":
            date.append(dates)

    foodIndex = []
    foodnamex= []
    salevalue = []
    for index, value in enumerate(data):
        if value == foodname:
            foodIndex.append(index)
            for i in range(ws.nrows):
                values = ws.cell_value(i,index)
                if values == foodname:
                    foodnamex.append(ws.cell_value(i,index))
                else:
                    salevalue.append(ws.cell_value(i,index))

    plt.plot(date,salevalue)

    plt.gca().set_xlabel('Dates')
    plt.gca().set_ylabel('Values')
    plt.gca().set_title('LineGraph of Date over Sale value')




    return(plt.show())
  
  foodname()