<a href="https://colab.research.google.com/github/as1266/Python/blob/master/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def tupe( students , name):
    for i in students:
        if name in i:
            return i

students = (
    ("John", "js1234", ["compSci", "Physics"]),
    ("Vusi", "v1234", ["Maths", "CompSci", "Stats"]),
)
name = "John"
print(tupe(students, name))

('John', 'js1234', ['compSci', 'Physics'])

In [0]:
def frequency(str):
    str = str.split()
    str2= []
    for i in str:
        if i not in str2:
            str2.append(i)
    print("Word        Count")
    print("=================")
    for i in range(0, len(str2)):
        print(str2[i],"       ",str.count(str2[i]))

str = 'apple apple apple mango mango hello hello'
frequency(str)

Word        Count
=================
apple         3
mango         2
hello         2

In [11]:
def make(row, col):
    arr = []
    matrix = []
    for l in range(row):
        for k in range(col):
            arr.append(k)
        matrix.append(arr)
        arr = []
    return matrix


def ret(mat, val):
    for i in range(len(mat)):
        for j in range(len(mat[i])):
            if val == mat[i][j]:
                return (i, j)
    return -1


row = 4
col = 2
y = make(row, col)
print(y)
print("The Row and column is =", ret(y, 1))

[[0, 1], [0, 1], [0, 1], [0, 1]]
The Row and column is = (0, 1)