<a href="https://colab.research.google.com/github/as1266/Python/blob/master/Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1: write a function which could print a string content. The requirements are as follows (20’)

(1) the function accepts one argument which is  printed as the string  content (10’)

(2) the value of the argument should be provided in command line (10’)

In [0]:
def printing(value):
    return value


value = str(input("Please input a string: "))

print(printing(value))

2: Write a program that could sum all the even digit in the scope of 1-1000. The requirements are as follows. (20’)

(1) use the function of range to express the scope of 1-1000 (10’)

(2) use for loop to deal with the scope (10’)

In [0]:
def evensum():
    sum = 0
    for i in range(1,1001):
        if i%2 == 0:
            sum =sum+ i
    return (sum)

print(evensum())

3: Given a number list which is numbers=[12,10,3,2,[6,[7,8,9],19,21],21]. Write a function that can get the product of all the numbers in the list. The requirements are as follows. (20’)

(1) write the function by recursion (10’)

(2) the “numbers” should be an argument of the function (5’)

(3) the function returns a number (5’)

In [0]:
numbers = [12, 10, 3, 2, [6, [7, 8, 9], 19, 21], 21]


def productNumbers(numbers):
    sum = 1
    for i in numbers:
        if (type(i) == type([])):
            sum = sum * productNumbers(i)
        else:
            sum = sum * i
    return sum

4: Given a matrix which is matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]. Write a function to complete the following task. (30’)

(1) turn the matrix (List) into an array (5’)

(2) use mask to set all the value above 20 to 0 (15’)

(3) output the result into a txt file (10’)

In [0]:
import numpy as np
matrix=[[23,43,12],
        [32,12,52],
        [15,35,52],
        [19,28,56]]

def sendList(matrix):
    newarray = np.array(matrix)
    newarray[newarray >20]=0

    with open("output.txt","w") as output_file:
        for line in newarray:
            str(line)
            output_file.writelines(f'{line}\n')

sendList(matrix)

5: Given a number list which is numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]. Write a function to complete  the following task. (30’)

(1) count the frequency of each different number in numbers list (10’)

(2) store the result into dictionary (10’)

(3) print it out (10’)

In [0]:
numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]

def freq(numbers):
    dictionary= {}
    for i in range(len(numbers)):
        dictionary[numbers[i]] = numbers.count(numbers[i])
    for key, value in dictionary.items():
        print(key,value)

freq(numbers)

6: Create a class Point which represent a point in two dimensions. It has two properties x and y. The detail requirements are as follows.
(1) When creating an object of Point, we can assign the value to x and y. If we don’t provide the value, they will be 0. (10’)

(2) If we print the object of Point directly, it will output the value of x and y. Its running effect is as follows. (10’)

(3) if we create two different objects of Point which are p1 and p2, (p1+p2) will get a new Point whose x is (p1.x+p2.x) and y is (p1.y+p2.y). Suppose p1(1,3) and p2(3.,4), then the result of print(p1+p2) is shown as follows. (10’)

In [0]:
class Point:
    def __init__(self, x=0,y=0):
        self.x = x
        self.y = y

    def __str__(self):
        return "({0},{1})".format(self.x, self.y)

    def addPoints(self,point1,point2):
        x = point1.x+point2.x
        y = point1.y+point2.y
        return (x,y)


myPoint = Point(3,4)

print("The Point is ",myPoint)

p1= Point(1,3)
p2= Point(3,4)

print("The Point is", Point().addPoints(p1,p2))

7: Given an excel file named “catering_sale_all.xls”. It stores the sale situation of several kinds of food on one month. Write a program that could print the total sales volume of the month by a specific food. The detail requirements are follows.(50’)

(1) when running the program, it will list all the food with a fixed number in the excel (10’)

(2) it notify a user to specific one number (10’)

(3) it print the specific food’s total sales volume of one month (10’)

(4) after print the result, a user could switch to print another food’s sales volume (10’)
(5) when the user select exit, the program exits (10’)

In [0]:
import pandas as pd
from datetime import *

def total():
    file = "catering_sale_all.xls"
    data = pd.read_excel(file)
    num =1

    foodnames = []
    for i in data:
        foodnames.append(i)


    selectedname = []

    while num == 1:
        for i in selectedname:
            selectedname.remove(i)

        print("0 exit")
        for i in range(1,11):
            print(i,foodnames[i])

        userinput= int(input("Please enter a number in the list: "))

        if userinput == 0:
            num = 0

        else:
            print("------------------------------------")
            for i in foodnames:
                if foodnames.index(i) == userinput:
                    selectedname.append(i)
            total = data[selectedname].sum()
            print("The total sale of",total)

    return

total()

8. Given a sql file named “world.sql” which are exported from MySQL by MySQL GUI Tools (For Mac: MySQL Workbench, For Windows: MySQL Administrator).Write a series of functions to complete the following tasks. (50’)

(1) import the data into MySQL — this is an operation not program (10’)

(2) write a function to connect to the ”world” schema by using of “pymysql” module (10’)

(3) For the “country” table, write a function to retrieve the average life expectancy of every continent (20’)

(4) print the result (10’)

In [0]:
import pymysql
import pprint as pp
def connect():
    db = pymysql.connect("localhost", "root", "Computer34_", "world")
    return db

def average(db):
    cursor = db.cursor()
    sql = "Select Avg(LifeExpectancy),Continent FROM country GROUP BY  Continent"
    cursor.execute(sql)
    data = cursor.fetchall()

    print("AvgLife | Continent")
    for i in list(data):
        print(i[0],"|",i[1])



db = connect()
average(db)

9. Using the “world” schema imported in Question 8. For the “country” table, write a series of functions to complete the following tasks. (50’)

(1) write a function to connect to the ”world” schema by using of “pymysql” module (10’)

(2) write a function to calculate the total population by every continent (20’)

(3) use pie plot to display the result. (20’)

In [0]:
import pymysql
from matplotlib.pyplot import *
import matplotlib.pyplot as plt


def connect():
    db = pymysql.connect("localhost", "root", "Computer34_", "world")
    return db


def totalPop(db):
    cursor = db.cursor()

    sql = "SELECT SUM(POPULATION), Continent FROM country GROUP BY Continent"
    cursor.execute(sql)
    data = cursor.fetchall()

    figure(1, figsize=(6, 6))

    population = []
    continent = []
    for i in data:
        population.append(i[0])
        continent.append(i[1])

    label = continent
    sizes = population

    explode = (0.1, 0.1, 0.1, 0.1,0.1,0.1,0.1)

    pie(sizes, explode = explode, labels = label, autopct = '%1.1f%%', startangle=100)
    title('Population by Continent')


    return show()

db = connect()
totalPop(db)

10. Given a csv file named “energy-production.csv”. It stores energy production of one area between 1973 and 2014. Write a series of functions to complete the following tasks. (50’)

(1) use “panda” to load the “energy-production.csv” file (10’)

(2) Write a function which accept year (1973-2014) as argument to retrieve the specific year’s energy production in detail. (20’)

(3) use bar plot to display the retrieved result. (20’)

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import *


def load(year):
    data = pd.read_csv('energy-production.csv')
    YearRow = data[data['Year']==year]
    YearRow = YearRow.drop(columns = ['Unnamed: 0', 'Year'], axis=1)

    y =[]
    for keys,values in YearRow.items():
        for i in values:
            y.append(i)
    x= []
    for i in YearRow:
        x.append(i)

    plt.bar(x,y)
    plt.xticks(x, ha='right', rotation=55, fontsize=6, fontname='monospace')
    return plt.show()


year = int(input("Please input a year between 1973 and 2014: "))
load(year)